
body{font-family:Arial;margin:0;background:#f5f5f5;}
header{background:#0d0d0d;color:#fff;padding:20px;text-align:center;}
nav{background:#222;padding:10px;text-align:center;}
nav a{color:white;margin:0 15px;text-decoration:none;font-weight:bold;}
.container{max-width:1100px;margin:auto;background:white;padding:20px;margin-top:20px;border-radius:10px;}
footer{background:#0d0d0d;color:white;text-align:center;padding:15px;margin-top:40px;}
.logo{width:140px;}
